<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineHospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.hospital.Servlet.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.hospital.Servlet.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>subho.tukai@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>donotkross</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PatientAppServ</display-name>
    <servlet-name>PatientAppServ</servlet-name>
    <servlet-class>com.hospital.Servlet.PatientAppServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientAppServ</servlet-name>
    <url-pattern>/makeAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNewAppointments</display-name>
    <servlet-name>ViewNewAppointments</servlet-name>
    <servlet-class>com.hospital.Servlet.ViewNewAppointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNewAppointments</servlet-name>
    <url-pattern>/ViewNewAppointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAmbulanceServlet</display-name>
    <servlet-name>BookAmbulanceServlet</servlet-name>
    <servlet-class>com.hospital.Servlet.BookAmbulanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAmbulanceServlet</servlet-name>
    <url-pattern>/BookAmbulanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAmbulance</display-name>
    <servlet-name>BookAmbulance</servlet-name>
    <servlet-class>com.hospital.Servlet.BookAmbulance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAmbulance</servlet-name>
    <url-pattern>/BookAmbulance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMedicine</display-name>
    <servlet-name>AddMedicine</servlet-name>
    <servlet-class>com.hospital.Servlet.AddMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMedicine</servlet-name>
    <url-pattern>/AddMedicine</url-pattern>
  </servlet-mapping>
</web-app>